@import "variables";

@mixin mediaMobile() {
  @media screen and (min-width: $mobile) {
    @content;
  }
}

@mixin mediaTablet() {
  @media screen and (min-width: $tablet) {
    @content;
  }
}
@mixin mediaLaptop() {
  @media screen and (min-width: $laptop) {
    @content;
  }
}
@mixin mediaDesktop() {
  @media screen and (min-width: $desktop) {
    @content;
  }
}

@mixin mediaCustom($width) {
  @media screen and (min-width: $width) {
    @content;
  }
}

@mixin text_overflow($count) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $count;
  overflow: hidden;
  text-overflow: ellipsis;
}
