@import "reset";
@import "variables";
@import "mixins";

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 125%;
  background-color: $bg;
  color: $txt;
  overflow-x: hidden;
  box-sizing: border-box;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;

  @include mediaMobile() {
    max-width: unset;
  }

  @include mediaTablet() {
    width: 760px;
  }

  @include mediaLaptop() {
    width: 970px;
  }

  @include mediaDesktop() {
    width: 1200px;
  }
}
